body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(199, 209, 224);
    font-family: 'Roboto', sans-serif;
}

.calculator {
    background-color: rgba(51, 61, 90, 0.767);
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 1px;
    text-align: right;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.button {
    background-color: rgb(102, 114, 130);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0px;
    font-size: 1.8em;
}

.orange-operator {
    background-color: rgb(255, 159, 11);
}

.dark-operator {
    background-color: rgb(72, 82, 106);
}

.zero {
    grid-column: span 2;
    border-bottom-left-radius: 10px;
}

.equal {
    border-bottom-right-radius: 10px;
}

.window-controls {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin: 8px;
}

.window-control {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

