#main{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
}
.ziffer{
    background-color: rgb(102, 110, 129);
    color: white;
    font-size: xx-large;
    border-radius: 0px;
    border-right: 1px, solid, black;
    width: 25%;
    height: 15vh;
}
.ziffer0{
    background-color: rgb(102, 110, 129);
    color: white;
    font-size: xx-large;
    border-radius: 0px;
    border:1px, solid, black;
    width: 50%;
    height: 15vh;
    margin: 0;
    border-bottom-left-radius: 10px;
}
.zeichen{
    background-color: rgb(255, 159, 11);
    color: white;
    font-size: xx-large;
    border-radius: 0px;
    border:1px, solid, black;
    width: 25%;
    height: 15vh;
    margin: 0;
}
.funktion{
    background-color: rgb(71, 81, 106);
    color: white;
    font-size: xx-large;
    border-radius: 0px;
    border-left:1px, solid, black;
    width: 25%;
    height: 15vh;
    margin: 0;
}
.buttonRow{
    display:flex;
}
.anzeige{
    background-color: #313A57;
    color: white;
    font-size: 5vh;
    text-align: right;
    padding: 20px;
    margin:0;
    flex: 1;
    
}
#schließen{
    background-color: #FC5753;
    border-radius: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    border: none;
    margin: 2px;
}
#minimieren{
    background-color: #FDBB40;
    border-radius: 20px;
    padding-left: 11px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 23px;
    border: none;
    margin: 2px;
}
#maximieren{
    background-color: #32C747;
    color: #32C747;
    border-radius: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    border: none;
    margin: 2px;
    
}
.menüleiste{
    background-color: #313A57;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
button:hover{
    color: #323e74;
}
#schließen:hover{
    background-color: #fc8280;
}
#minimieren:hover{
    background-color: #f7d28f;
}
#maximieren:hover{
    background-color: #76c580;
}
p{
    font-size: 30px;
    margin: 10px;
}
.eingabe{
    display: flex;
    flex-direction: row-reverse;
}