body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #15e030;
    padding: 20px;
}

#taskForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#taskForm input[type="text"], #taskForm input[type="date"] {
    width: 45%;
    padding: 10px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    color: #333;
}

#taskForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

#taskForm button:hover {
    background-color: #e7e7e7;
}

#taskList {
    margin-top: 20px;
}

#taskList li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList .edit, #taskList .delete {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
    margin-left: 10px;
}

#taskList .edit:hover, #taskList .delete:hover {
    background-color: #d4d4d4;
}

.task-details {
    display: flex;
    align-items: center;
}

.task-details span {
    margin-right: 15px;
}

body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 100%;
    z-index: -1;
    transform: rotate(45deg);
}

body::after {
    content: "";
    position: fixed;
    bottom: -50%;
    right: -50%;
    width: 200%;
    height: 200%;
    background-color: #9c9c9c;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 100%;
    z-index: -2;
    transform: rotate(45deg);
}
