body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #f8f8f8;
    color: #333;
}

h1, h2 {
    color: #d35400;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    margin-top: 30px;
}

p, li {
    line-height: 1.6;
}

ul {
    margin: 20px 0;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

#Zutaten, #Zubereitung, #Nährwerte, #Serviervorschlag {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px 0;
}

.center-text {
    text-align: center;
}
