body{
    font-family:Arial, Helvetica, sans-serif; 
    background-color: whitesmoke;   
    text-align: center;
    font-size: medium;
    color: rgba(151, 28, 28, 0.758);
}

h1{
    color: green;
    font-size: xx-large;
    background-color: rosybrown;
}

h2{
    color: green;
    font-size: xx-large;
    background-color: rosybrown;
    text-align: center;

}

li{
    text-align: center;
}

ol{

    text-align: center;
}

ul{
    text-align: center;
}



/*Hallo

Selektoren: Tags, Klassen, IDs
Befehle: font-family, font-size, color, text-align, background-color,  

*/


.heading {
    color: yellowgreen;
    border: 444px;
    margin:auto;
    text-align: center; 

}

#zubereitung {
    display:inline-block ;
    color: black;
    font-size: xx-large;
}


.box{
    border: 78px;
    margin: 850px;
    padding: 80px;
    

}


.table{

    text-align:center;
    margin: 0 auto;


}

.list{

    text-align: center;
    margin: 0 auto;



}


ol,ul {
    list-style-position:inside ;
    list-style-type: none;
}