#game {
    width: 200px;
    height: 200px;
 
}

#counter {
    border-color: blue;
    border: solid;
}

button {
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    color: transparent; 
    
}

.exploded {
    background-color: red;
}
  

.warning {
    color: black;
 }

.uncovered{
    background-color: lightpink;
    color: black;
}



/* .covered {
    background-color: aquamarine;
    color: aquamarine; Beschriftung! */
    /* width: 40px;
    height: 40px; */
/* } */

/* .uncovered {
    background-color: lightpink;
    width: 40px;
    height: 40px;
} */

/* .warning::before {
    /* content: "\026A0"; Unicode escape sequence for the 🌵 emoji */
    /* content: "!!"; */
/*} */

/* .warning {
    background-color: aquamarine;
    width: 40px;
    height: 40px; */
    /* display: inline-block; /* Ensures the div takes up space for the emoji */
    /*overflow: hidden; /* Hide overflow content */
    /*white-space: nowrap; /* Prevent line wrapping */
    /*font-size: 0; /* Hide text content */
    /*margin: 0; */
