.aufgabe {
    margin: 5px;
    width: 80vw;
    height: 50px;
    background-color: lightgreen;
   

}

.datum {
    margin: 5px;
    width: 20vw;
    height: 50px;
    background-color: lightpink;
}

/* .lfdnr {

} */

button {
    margin: 5px;
}

form {
    margin: 5px;
}

/* #ToDos {
    display: flex;
} */

.done {
    background-color: gray;
}