.aufgabe {
    margin: 5px;
    width: 80vw;
    height: 50px;
    background-color: rgb(144, 177, 238);
   

}

.datum {
    margin: 5px;
    width: 20vw;
    height: 50px;
    background-color: rgb(182, 193, 255);
}

.datum:hover:not(th), .aufgabe:hover:not(th), .clear:hover:not(th){
    cursor: pointer;
}


button {
    margin: 5px;
}

form {
    margin: 5px;
}


.done {
    background-color: gray;
}