h1, h2 {
    /* Farbe Überschriften h1, h2 */
    color: #505F82;
    /* Schriftart */
    font-family: "Corpi", Arial, sans-serif;
    text-align: center;
}

body {
    font-family: "TheAntiqua", serif;
    text-align: center;
}

p {
    text-align: justify;
}

.centerListTable{
    margin-left: auto;
    margin-right: auto;
}

ol, ul {
    list-style-position: inside;
    text-align: left;
    max-width: 10%;
    margin: 0 auto;
}



